.medicine{
    display: flex;
    align-items: center;
    width : 400px;
    height : auto;
    margin : 60px auto;
    border-radius: 20px;
    box-shadow: 3px 3px 15px -7px rgba(0, 0, 0, 0.75);
}
.medicineReq{
    width : 100%;
    display : flex;
    align-items: center;
    flex-direction: column;
}
.contain{
    margin: 10px;
}

input.Reqmedicine{
    margin-bottom: 2rem;
    width: 90%;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 1.6rem;
    padding: .5rem;
    outline: none;
    font-family: 'Poppins';
}
